.comment {
    font-size: 14px;
    margin: 0;
    margin-left: 0;
}

#comments_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#comments_title hr {
    border: 2px solid rgb(77, 109, 120);
}

#comments_section h3 {
    font-size: 20px;
    
}

.comment_info {
    display: flex;
    height: 100%;
    margin-bottom: 0px;
}

.comments_pfp {
    height: 60px;
}

.comments_like_container {
    padding-left: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments_like_container img {
    width: 30px;
}

.date_reply_container {
    display: flex;
    gap: 30px;
}

.date_reply_container p {
    margin-top: 0;
}

.reply_content {
    width: 100%;
}